/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* --------- common css --------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    margin: 0 auto;
    color: #4F4F4F;
    background-color: #FDFAF6;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
h1{
    color: #00695c;
}

/* --------- main css --------- */

/* search section css */
.search-section{
    background-color: #E4EFE7;
}

/* input-part css */
.input-part{
    width: 25rem;
}

/* card css */
.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
}

/* button css */
.button{
    color: #fff;
    background-color: #00695c;
}
.button:hover{
    background-color: #E4EFE7;
    color: #00695c;
    border: 1px solid #00695c;
}

/* pop-up-section css */
#pop-up-section{
    display: none;
}

/* details-div css */
#details-div{
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 15px -5px rgb(0 0 0 / 30%);
}
#close-details-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0 auto;
    width: 100px;
    background-color: #ff4444;
    box-shadow: 0 0 15px -5px rgb(0 0 0 / 50%);
}

/* spinner css */
#spinner {
    display: none;
    border: 10px solid #E4EFE7;
    border-radius: 50%;
    border-top: 10px solid #00695c;
    border-bottom: 10px solid #00695c;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* no result div css */
#no-result{
    display: none;
}

/* --------- footer css --------- */
footer{
    background-color: #E4EFE7;
}

/* mobile & tab css for close button */
@media screen and (max-width: 1024px) {
    #close-details-btn{
        position: relative;
        right: auto;
        margin: 0 auto;
        bottom: 10px;
    }
}